
<div class="table-container">
  <h3 class="table-title" style="text-align: left;"><strong>Thermal parameters at SRPM 255 (01 Nominal)</strong></h3>
  <form [formGroup]="thermalForm">
    <table class="thermal-table">
      <thead>
        <tr>
          <th rowspan="2">Ser</th>
          <th rowspan="2">Position</th>
          <th colspan="2">Port Shaft (SRPM)</th>
          <th colspan="2">Stbd Shaft (SRPM)</th>
        </tr>
        <tr>
          <th>Remote(°C)<br>(FWD GTR)</th>
          <th>Local (°C)</th>
          <th>Remote(°C)<br>(AFT GTR)</th>
          <th>Local (°C)</th>
        </tr>
      </thead>
      <tbody>
        <!-- Row (a) -->
        <tr>
          <td>(a)</td>
          <td>Main Thrust Block FWD</td>
          <td><input type="number" formControlName="portRemote1" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal1" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote1" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal1" class="temp-input"></td>
        </tr>
        
        <!-- Row (b) -->
        <tr>
          <td>(b)</td>
          <td>Main Thrust Block AFT</td>
          <td><input type="number" formControlName="portRemote2" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal2" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote2" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal2" class="temp-input"></td>
        </tr>
        
        <!-- Row (c) -->
        <tr>
          <td>(c)</td>
          <td>Plummer Block - 1</td>
          <td><input type="number" formControlName="portRemote3" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal3" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote3" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal3" class="temp-input"></td>
        </tr>
        
        <!-- Row (d) -->
        <tr>
          <td>(d)</td>
          <td>Plummer Block - 2</td>
          <td><input type="number" formControlName="portRemote4" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal4" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote4" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal4" class="temp-input"></td>
        </tr>
        
        <!-- Row (e) -->
        <tr>
          <td>(e)</td>
          <td>Plummer Block - 3</td>
          <td><input type="number" formControlName="portRemote5" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal5" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote5" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal5" class="temp-input"></td>
        </tr>
        
        <!-- Row (f) -->
        <tr>
          <td>(f)</td>
          <td>Plummer Block - 4</td>
          <td><input type="number" formControlName="portRemote6" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal6" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote6" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal6" class="temp-input"></td>
        </tr>
        
        <!-- Row (g) -->
        <tr>
          <td>(g)</td>
          <td>Plummer Block - 5</td>
          <td><input type="number" formControlName="portRemote7" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal7" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote7" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal7" class="temp-input"></td>
        </tr>
        
        <!-- Row (h) -->
        <tr>
          <td>(h)</td>
          <td>Plummer Block - 6</td>
          <td><input type="number" formControlName="portRemote8" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal8" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote8" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal8" class="temp-input"></td>
        </tr>
        
        <!-- Row (i) -->
        <tr>
          <td>(i)</td>
          <td>Plummer Block - 7</td>
          <td><input type="number" formControlName="portRemote9" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal9" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote9" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal9" class="temp-input"></td>
        </tr>
      </tbody>
    </table>
  </form>


<div>
<h3 class="table-title2" style="text-align: left;"><strong>Thermal parameters at SRPM  0000 (0.000 Nominal)</strong></h3>
    <form [formGroup]="thermalForm">
    <table class="thermal-table">
      <thead>
        <tr>
          <th rowspan="2">Ser</th>
          <th rowspan="2">Position</th>
          <th colspan="2">Port Shaft (SRPM)</th>
          <th colspan="2">Stbd Shaft (SRPM)</th>
        </tr>
        <tr>
          <th>Remote(°C)<br>(FWD GTR)</th>
          <th>Local (°C)</th>
          <th>Remote(°C)<br>(AFT GTR)</th>
          <th>Local (°C)</th>
        </tr>
      </thead>
      <tbody>
        <!-- Row (a) -->
        <tr>
          <td>(a)</td>
          <td>Main Thrust Block FWD</td>
          <td><input type="number" formControlName="portRemote1" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal1" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote1" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal1" class="temp-input"></td>
        </tr>
        
        <!-- Row (b) -->
        <tr>
          <td>(b)</td>
          <td>Main Thrust Block AFT</td>
          <td><input type="number" formControlName="portRemote2" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal2" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote2" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal2" class="temp-input"></td>
        </tr>
        
        <!-- Row (c) -->
        <tr>
          <td>(c)</td>
          <td>Plummer Block - 1</td>
          <td><input type="number" formControlName="portRemote3" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal3" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote3" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal3" class="temp-input"></td>
        </tr>
        
        <!-- Row (d) -->
        <tr>
          <td>(d)</td>
          <td>Plummer Block - 2</td>
          <td><input type="number" formControlName="portRemote4" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal4" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote4" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal4" class="temp-input"></td>
        </tr>
        
        <!-- Row (e) -->
        <tr>
          <td>(e)</td>
          <td>Plummer Block - 3</td>
          <td><input type="number" formControlName="portRemote5" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal5" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote5" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal5" class="temp-input"></td>
        </tr>
        
        <!-- Row (f) -->
        <tr>
          <td>(f)</td>
          <td>Plummer Block - 4</td>
          <td><input type="number" formControlName="portRemote6" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal6" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote6" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal6" class="temp-input"></td>
        </tr>
        
        <!-- Row (g) -->
        <tr>
          <td>(g)</td>
          <td>Plummer Block - 5</td>
          <td><input type="number" formControlName="portRemote7" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal7" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote7" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal7" class="temp-input"></td>
        </tr>
        
        <!-- Row (h) -->
        <tr>
          <td>(h)</td>
          <td>Plummer Block - 6</td>
          <td><input type="number" formControlName="portRemote8" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal8" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote8" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal8" class="temp-input"></td>
        </tr>
        
        <!-- Row (i) -->
        <tr>
          <td>(i)</td>
          <td>Plummer Block - 7</td>
          <td><input type="number" formControlName="portRemote9" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal9" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote9" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal9" class="temp-input"></td>
        </tr>
      </tbody>
    </table>
  </form>
  </div>
</div>