<!-- 
<div class="container">
  <h1>Equipment Clearance Status</h1>
  
  <div class="table-container">
    <table class="equipment-table">
      <colgroup>
        <col style="width: 4%">
        <col style="width: 21%">
        <col style="width: 12%">
        <col style="width: 7%">
        <col style="width: 6%">
        <col style="width: 8%">
        <col style="width: 5%">
        <col style="width: 10%">
        <col style="width: 11%">
        <col style="width: 7%">
        <col style="width: 5%">
      </colgroup>
      <thead>
        <tr>
          <th class="text-center"><u><strong>Ser</strong></u></th>
          <th class="text-center"><u><strong>Equipment</strong></u></th>
          <th class="text-center"><u><strong>No of Eqpt to be cleared prior<br>BT/SSC1/SSC2</strong></u></th>
          <th class="text-center"><u><strong>Date</strong></u></th>
          <th class="text-center"><u><strong>SDC</strong></u></th>
          <th class="text-center"><u><strong>Vibration<br>Trials</strong></u></th>
          <th class="text-center"><u><strong>SPM</strong></u></th>
          <th class="text-center"><u><strong>Mount Attenuation</strong></u></th>
          <th class="text-center"><u><strong>Performance Trials</strong></u></th>
          <th class="text-center"><u><strong>Overall Status</strong></u></th>
          <th class="text-center"><u><strong>Man<br>days</strong></u></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let section of sections">
          <tr *ngIf="section !== 'Main Engines'">
            <td colspan="11" class="section-header"><u><strong>{{section}}</strong></u></td>
          </tr>
          
          <tr *ngFor="let equipment of sectionEquipmentMap[section]" 
              (click)="selectEquipment(equipment)" 
              [class.selected]="selectedEquipment?.id === equipment.id">
            <td class="text-center">{{equipment.id}}.</td>
            <td class="text-left">{{equipment.name}}</td>
            <td class="text-left" [innerHTML]="formatClearanceRequirement(equipment.clearanceRequirement)"></td>
            <td class="text-center">{{equipment.date || '-'}}</td>
            <td class="text-center">{{equipment.sdc || '-'}}</td>
            <td class="text-center">{{equipment.vibrationTrials || '-'}}</td>
            <td class="text-center">{{equipment.spm || '-'}}</td>
            <td class="text-center">{{equipment.mountAttenuation || '-'}}</td>
            <td class="text-center">{{equipment.performanceTrials || '-'}}</td>
            <td class="text-center">{{equipment.overallStatus || '-'}}</td>
            <td class="text-center">{{equipment.manDays || '-'}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div class="edit-form" *ngIf="selectedEquipment">
    <h3>Edit {{selectedEquipment.name}}</h3>
    <form [formGroup]="equipmentForm">
      <div class="form-row">
        <div class="form-group">
          <label>Date</label>
          <input type="text" formControlName="date" class="form-control">
        </div>
        <div class="form-group">
          <label>SDC</label>
          <input type="text" formControlName="sdc" class="form-control">
        </div>
        <div class="form-group">
          <label>Vibration Trials</label>
          <input type="text" formControlName="vibrationTrials" class="form-control">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label>SPM</label>
          <input type="text" formControlName="spm" class="form-control">
        </div>
        <div class="form-group">
          <label>Mount Attenuation</label>
          <input type="text" formControlName="mountAttenuation" class="form-control">
        </div>
        <div class="form-group">
          <label>Performance Trials</label>
          <input type="text" formControlName="performanceTrials" class="form-control">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label>Overall Status</label>
          <input type="text" formControlName="overallStatus" class="form-control">
        </div>
        <div class="form-group">
          <label>Man Days</label>
          <input type="text" formControlName="manDays" class="form-control">
        </div>
      </div>
      <div class="form-actions">
        <button type="button" class="btn btn-save" (click)="saveEquipment()">Save</button>
        <button type="button" class="btn btn-cancel" (click)="cancelEdit()">Cancel</button>
      </div>
    </form>
  </div>
</div> -->

<!-- 
<form [formGroup]="form" (ngSubmit)="submitTable()">
  <div formArrayName="equipmentList" class="table-container">
    <table>
      <thead>
        <tr>
          <th>Ser</th>
          <th>Equipment</th>
          <th>No of Eqpt to be cleared prior</th>
          <th>BT/SSC1/SSC2</th>
          <th>Date</th>
          <th>SDC</th>
          <th>Vibration</th>
          <th>Trials</th>
          <th>SPM</th>
          <th>Mount Attenuation</th>
          <th>Performance Trials</th>
          <th>Overall Status</th>
          <th>Man Days</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let group of equipmentFormArray.controls; let i = index" [formGroupName]="i">
          <td>{{ i + 1 }}</td>
          <td>{{ equipmentList[i].equipment }}</td>
          <td><input formControlName="toBeCleared" /></td>
          <td><input formControlName="btssc" /></td>
          <td><input formControlName="date" type="date" /></td>
          <td><input formControlName="sdc" /></td>
          <td><input formControlName="vibration" /></td>
          <td><input formControlName="trials" /></td>
          <td><input formControlName="spm" /></td>
          <td><input formControlName="mountAttenuation" /></td>
          <td><input formControlName="performanceTrials" /></td>
          <td><input formControlName="overallStatus" /></td>
          <td><input formControlName="manDays" type="number" /></td>
        </tr>
      </tbody>
    </table>
  </div>

  <button type="submit">Submit</button>
</form> -->


<!-- 
<form [formGroup]="form" (ngSubmit)="submitTable()">
  <div formArrayName="equipmentList" class="table-container">
    <table>
      <thead>
        <tr>
          <th>Ser</th>
          <th>Equipment</th>
          <th>No of Eqpt to be cleared prior<br />BT/SSC1/SSC2</th>
          <th>Date</th>
          <th>SDC</th>
          <th>Vibration</th>
          <th>Trials</th>
          <th>SPM</th>
          <th>Mount Attenuation</th>
          <th>Performance Trials</th>
          <th>Overall Status</th>
          <th>Man Days</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let group of equipmentFormArray.controls; let i = index" [formGroupName]="i">
          <td>{{ i + 1 }}</td>
          <td>{{ equipmentList[i].equipment }}</td>
          <td>
            <div *ngIf="equipmentList[i].toBeCleared">{{ equipmentList[i].toBeCleared }}</div>
            <div *ngIf="equipmentList[i].btssc">{{ equipmentList[i].btssc }}</div>
          </td>
          <td><input formControlName="date" type="date" /></td>
          <td><input formControlName="sdc" /></td>
          <td><input formControlName="vibration" /></td>
          <td><input formControlName="trials" /></td>
          <td><input formControlName="spm" /></td>
          <td><input formControlName="mountAttenuation" /></td>
          <td><input formControlName="performanceTrials" /></td>
          <td><input formControlName="overallStatus" /></td>
          <td><input formControlName="manDays" type="number" /></td>
        </tr>
      </tbody>
    </table>
  </div>

  <button type="submit">Submit</button>
</form> -->






<!-- deep
  -->



  <!-- equipment-table.component.html -->
<!-- <div class="table-container">
  <table>
    <colgroup>
      <col style="width: 4%">
      <col style="width: 21%">
      <col style="width: 12%">
      <col style="width: 7%">
      <col style="width: 6%">
      <col style="width: 8%">
      <col style="width: 5%">
      <col style="width: 10%">
      <col style="width: 11%">
      <col style="width: 7%">
      <col style="width: 5%">
    </colgroup>
    
    <thead>
      <tr>
        <th><u>Ser</u></th>
        <th><u>Equipment</u></th>
        <th><u>No of Eqpt to be cleared prior<br>BT/SSC1/SSC2</u></th>
        <th><u>Date</u></th>
        <th><u>SDC</u></th>
        <th><u>Vibration<br>Trials</u></th>
        <th><u>SPM</u></th>
        <th><u>Mount<br>Attenuation</u></th>
        <th><u>Performance<br>Trials</u></th>
        <th><u>Overall<br>Status</u></th>
        <th><u>Man<br>days</u></th>
      </tr>
    </thead>
    
    <tbody>
      <ng-container *ngFor="let item of equipmentList">
        <tr *ngIf="item.isHeader" class="section-header">
          <td colspan="11"><u>{{item.equipment}}</u></td>
        </tr>
        
        <tr *ngIf="!item.isHeader && !item.isSubHeader">
          <td>{{item.serial}}.</td>
          <td class="text-left">{{item.equipment}}</td>
          <td class="text-left">
            <div *ngFor="let line of getDisplayClearance(item.clearanceRequirement)">
              {{line}}<br *ngIf="!line.endsWith('.')">
            </div>
          </td>
          <td>{{item.date || ''}}</td>
          <td>{{item.sdc || ''}}</td>
          <td>{{item.vibrationTrials || ''}}</td>
          <td>{{item.spm || ''}}</td>
          <td>{{item.mountAttenuation || ''}}</td>
          <td>{{item.performanceTrials || ''}}</td>
          <td>{{item.overallStatus || ''}}</td>
          <td>{{item.manDays || ''}}</td>
        </tr>
        
        <tr *ngIf="item.isSubHeader">
          <td>{{item.serial}}.</td>
          <td class="text-left">{{item.equipment}}</td>
          <td colspan="9" class="text-center">{{item.clearanceRequirement}}</td>
        </tr>
      </ng-container>
      
      <tr class="total-row">
        <td colspan="10" class="text-center"><u>Total Mandays taken for ERT of INS Kadmatt (NR)</u></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div> -->



<div class="table-container">
  <table class="equipment-table">
    <thead>
      <tr>
        <th width="62">Ser</th>
        <th width="320">Equipment</th>
        <th width="184">No of Eqpt to be cleared prior<br>BT/SSC1/SSC2</th>
        <th width="111">Date</th>
        <th width="101">SDC</th>
        <th width="128">Vibration<br>Trials</th>
        <th width="86">SPM</th>
        <th width="156">Mount Attenuation</th>
        <th width="170">Performance Trials</th>
        <th width="113">Overall Status</th>
        <th width="85">Man<br>days</th>
      </tr>
    </thead>
    <tbody>
      <!-- Row 1-2 with merged cells -->
      <tr>
        <td>1.</td>
        <td class="red-text">Port Main Engine</td>
        <td colspan="9" class="centered-text"><b>To be cleared by DTTT(V)</b></td>
      </tr>
      <tr>
        <td>2.</td>
        <td class="red-text">Stbd Main Engine</td>
        <td colspan="9" class="centered-text"><b>To be cleared by DTTT(V)</b></td>
      </tr>
      
      <!-- Row 3-8 -->
      <!-- <tr>
        <td>3.</td>
        <td>Gear Box (Stbd)</td>
        <td rowspan="6" class="multi-line">
          (a) SDCs.<br><br>
          (b) Shaft Lock Checks.<br><br>
          (c) Torsionmeter Calibration Certificate<br>
          (d) POL Report<br><br>
        </td>
        <td rowspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b></b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Gear Box (Port)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b></b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Shafting (Port)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Shafting (Stbd)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>7.</td>
        <td>CPP (Port)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>8.</td>
        <td>CPP(Stbd)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> -->


      <tr>
        <td>3.</td>
        <td>Gear Box (Stbd)</td>
        <td rowspan="6" class="multi-line">
          (a) SDCs.<br><br>
          (b) Shaft Lock Checks.<br><br>
          (c) Torsionmeter Calibration Certificate<br>
          (d) POL Report<br><br>
        </td>
        <td><input type="date" formControlName="equipmentData[2].date" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[2].sdc" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[2].vibration" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[2].spm" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[2].mountAttenuation" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[2].performance" class="form-input"></td>
        <td>
          <select formControlName="equipmentData[2].status" class="form-input">
            <option value="Pending">Pending</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
          </select>
        </td>
        <td><input type="number" formControlName="equipmentData[2].manDays" class="form-input"></td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Gear Box (Port)</td>
        <td><input type="date" formControlName="equipmentData[3].date" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[3].sdc" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[3].vibration" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[3].spm" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[3].mountAttenuation" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[3].performance" class="form-input"></td>
        <td>
          <select formControlName="equipmentData[3].status" class="form-input">
            <option value="Pending">Pending</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
          </select>
        </td>
        <td><input type="number" formControlName="equipmentData[3].manDays" class="form-input"></td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Shafting (Port)</td>
        <td><input type="date" formControlName="equipmentData[4].date" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[4].sdc" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[4].vibration" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[4].spm" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[4].mountAttenuation" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[4].performance" class="form-input"></td>
        <td>
          <select formControlName="equipmentData[4].status" class="form-input">
            <option value="Pending">Pending</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
          </select>
        </td>
        <td><input type="number" formControlName="equipmentData[4].manDays" class="form-input"></td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Shafting (Stbd)</td>
        <td><input type="date" formControlName="equipmentData[5].date" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[5].sdc" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[5].vibration" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[5].spm" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[5].mountAttenuation" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[5].performance" class="form-input"></td>
        <td>
          <select formControlName="equipmentData[5].status" class="form-input">
            <option value="Pending">Pending</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
          </select>
        </td>
        <td><input type="number" formControlName="equipmentData[5].manDays" class="form-input"></td>
      </tr>
      <tr>
        <td>7.</td>
        <td>CPP (Port)</td>
        <td><input type="date" formControlName="equipmentData[6].date" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[6].sdc" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[6].vibration" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[6].spm" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[6].mountAttenuation" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[6].performance" class="form-input"></td>
        <td>
          <select formControlName="equipmentData[6].status" class="form-input">
            <option value="Pending">Pending</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
          </select>
        </td>
        <td><input type="number" formControlName="equipmentData[6].manDays" class="form-input"></td>
      </tr>
      <tr>
        <td>8.</td>
        <td>CPP(Stbd)</td>
        <td><input type="date" formControlName="equipmentData[7].date" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[7].sdc" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[7].vibration" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[7].spm" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[7].mountAttenuation" class="form-input"></td>
        <td><input type="text" formControlName="equipmentData[7].performance" class="form-input"></td>
        <td>
          <select formControlName="equipmentData[7].status" class="form-input">
            <option value="Pending">Pending</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
          </select>
        </td>
        <td><input type="number" formControlName="equipmentData[7].manDays" class="form-input"></td>
      </tr>
      
      <!-- Row 9-12 -->

 <tr>
        <td>9.</td>
        <td>ME Lub Oil Priming Pump 1</td>
        <td rowspan="4" class="multi-line">
          To be cleared prior BT
        </td>
        <td rowspan=""></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b></b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>10.</td>
        <td>ME Lub Oil Priming Pump 2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b></b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>11.</td>
        <td>ME Lub Oil Priming Pump 3</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>12.</td>
        <td>ME Lub Oil Priming Pump 4</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
     
      <!-- <tr *ngFor="let item of meLubOilPumps">
        <td>{{item.id}}.</td>
        <td>{{item.name}}</td>
        <td rowspan="4" class="centered-text">To be cleared prior BT</td>
        <td></td>
        <td></td>
        <td></td>
        <td><b></b></td>
        <td><b></b></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> -->
      
      <!-- Row 13-18 -->
    <tr>
     <td>13.</td>
        <td>GB LO Stand by Pump (Port)</td>
        <td rowspan="6" class="multi-line">
          To be cleared prior BT
        </td>
        <td rowspan=""></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b></b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>14.</td>
        <td>GB LO Stand by Pump (Stbd)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b></b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>15.</td>
        <td>GB SW Stand by Pump (Port)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>16.</td>
        <td>GB SW Stand by Pump (Stbd)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>17.</td>
        <td>CPP Stand by Pump (Port)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>18.</td>
        <td>CPP Stand by Pump (Stbd)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>


      <!-- <tr *ngFor="let item of gbPumps">
        <td>{{item.id}}.</td>
        <td>{{item.name}}</td>
        <td rowspan="6" class="centered-text">To be cleared prior BT</td>
        <td></td>
        <td></td>
        <td></td>
        <td><b></b></td>
        <td><b></b></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> -->
      
      <!-- Steering Gear Section -->
      <tr>
        <td colspan="11" class="section-header" style="text-align: left;"><b>Steering Gear</b></td>
      </tr>
      

       <tr>
     <td>19.</td>
        <td>Steering Gear Harbour Trials</td>
        <td rowspan="3" class="multi-line">
          To be cleared prior BT
        </td>
        <td rowspan=""></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b></b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>20.</td>
        <td>Steering Pump (Port)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b></b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>21.</td>
        <td>Steering Pump (Stbd)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>22.</td>
        <td>Steering Gear Sea Trials</td>
        
        <td rowspan="1" class="multi-line">
          To be cleared prior SSC 1
        </td>
        <td rowspan=""></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b></b></td>
        <td></td>
        <td></td>
      </tr>
      <!-- Stabiliser Section -->
      <tr>
        <td colspan="11" class="section-header" style="text-align: left;"><b>Stabiliser</b></td>
      </tr>

      <tr>
     <td>23.</td>
        <td>Stabiliser Harbour Trials</td>
        <td rowspan="3" class="multi-line">
          To be cleared prior BT
        </td>
        <td rowspan=""></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b></b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>24.</td>
        <td>Stabiliser Pump (Port)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b></b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>25.</td>
        <td>Stabiliser Pump (Stbd)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>26.</td>
        <td>Stabiliser Sea Trials</td>
        
        <td rowspan="1" class="multi-line">
          To be cleared prior SSC 2
        </td>
        <td rowspan=""></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b></b></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>